keybinds clear-defaults=true {
    normal {
        bind "Alt c" { Copy; }
    }
    tmux {
        bind "h" { MoveFocus "Left"; }
        bind "t" { MoveFocus "Down"; }
        bind "n" { MoveFocus "Up"; }
        bind "s" { MoveFocus "Right"; }
        bind "H" { MovePane "Left"; }
        bind "T" { MovePane "Down"; }
        bind "N" { MovePane "Up"; }
        bind "S" { MovePane "Right"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "C" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "D" { Detach; }
        bind "q" { CloseFocus; SwitchToMode "Normal"; }
        bind "Tab" { SwitchFocus; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "Space" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            };
            SwitchToMode "Normal";
        }
    }
    resize {
        bind "h" "Left" { Resize "Increase Left"; }
        bind "t" "Down" { Resize "Increase Down"; }
        bind "n" "Up" { Resize "Increase Up"; }
        bind "s" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "T" { Resize "Decrease Down"; }
        bind "N" { Resize "Decrease Up"; }
        bind "S" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "t" "Down" { ScrollDown; }
        bind "n" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "s" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "T" { HalfPageScrollDown; }
        bind "N" { HalfPageScrollUp; }
    }
    search {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "t" "Down" { ScrollDown; }
        bind "n" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "s" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "T" { HalfPageScrollDown; }
        bind "N" { HalfPageScrollUp; }
        bind "k" { Search "down"; }
        bind "K" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "b" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Tmux"; }
    }
    shared_except "normal" {
        bind "Ctrl q" { Quit; }
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "tmux" {
        bind "Ctrl g" { SwitchToMode "Tmux"; }
    }
    shared_except "resize" "normal" {
        bind "Ctrl r" { SwitchToMode "Resize"; }
    }
    shared_except "scroll" "normal" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }
    shared_except "normal" "entersearch" {
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
}
